<!-- ComplementaryFilter launch file -->
<launch>
  <rosparam file="$(find sirius_localization)/config/imu_filter.yaml" command="load" ns="odom_sensor_fusion"/>   
  <rosparam file="$(find sirius_localization)/config/imu_filter.yaml" command="load" ns="map_sensor_fusion"/>   
  <arg name="imu_name"            default="front_camera"/>
  <node pkg="imu_complementary_filter" type="complementary_filter_node"
      name="imu_fusion" output="screen">
    <param name="do_bias_estimation" value="true"/>
    <param name="do_adaptive_gain" value="true"/>
    <param name="use_mag" value="true"/>
    <param name="gain_acc" value="0.01"/>
    <param name="gain_mag" value="0.03"/>
    <param name="publish_tf" value="false"/>
    <param name="orientation_stddev" value="$(eval sqrt(pi/6))"/> <!-- standard deviation in radians -->
    <remap from="imu/data_raw" to="/$(arg imu_name)/imu/data"/>
    <remap from="imu/mag" to="/$(arg imu_name)/imu/mag"/>

  </node>

   <node pkg="imu_transformer" type="imu_transformer_node" name="imu_data_transformer" output="screen">
    <remap from="imu_in" to="/imu"/>
    <remap from="imu_out" to="/imu_transformed"/>
    <param name="target_frame" value="base_link"/>
  </node>
  
</launch>