<launch>
  <node pkg="ublox_gps" type="ublox_gps" name="ublox_gps" output="screen">
    <param name="device" value="/dev/serial/by-id/usb-u-blox_AG_-_www.u-blox.com_u-blox_GNSS_receiver-if00"/>
    <param name="frame_id" value="base_link"/>
    <param name="config_on_startup" value="false"/>
    <remap from="/ublox_gps/fix" to="gps/fix"/>
    <remap from="/ublox_gps/fix_velocity" to="gps/fix_velocity"/>
  </node>
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" clear_params="true">
    <rosparam command="load" file="$(find sirius_localization)/config/gnss.yaml" />
  </node> 

</launch>