<launch>  
  <arg name="imu_name"            default="front_camera"/>
  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_fusion" output="screen">
    <param name="use_mag" value="true"/>
    <param name="orientation_stddev" value="$(eval sqrt(pi/6))"/> <!-- standard deviation in radians -->
    <param name="mag_bias_x" value="0"/>
    <param name="mag_bias_y" value="0"/>
    <param name="mag_bias_z" value="0"/>
    <param name="world_frame" value="enu"/>
    <param name="publish_tf" value="false"/>
    <param name="remove_gravity_vector" value="false"/>
    <remap from="imu/data_raw" to="/$(arg imu_name)/imu/data"/>
    <remap from="imu/mag" to="/$(arg imu_name)/imu/mag"/>
  </node>

   <node pkg="imu_transformer" type="imu_transformer_node" name="imu_data_transformer" output="screen">
    <remap from="imu_in" to="/imu"/>
    <remap from="imu_out" to="/imu_transformed"/>
    <param name="target_frame" value="base_link"/>
  </node>
</launch>