<launch>
	<node name="manip_controller" pkg="manip_control" type="manip_controller.py" output="screen">
		<rosparam file="$(find manip_control)/config/kinematics.yaml" command="load"/>
		<rosparam file="$(find manip_control)/config/controller.yaml" command="load"/>
		<remap from="/cmd_manip_pos" to="/clicked_point"/>
	</node>

	<!--<include file="$(find manip_control)/launch/manip_gazebo_interface.launch"/>-->
	<include file="$(find manip_control)/launch/manip_roboclaw_interface.launch"/>
</launch>
