
sirius:
    wheels_left:
      hardware_interface:
        joints:
          - left_front_wheel_joint
          - left_back_wheel_joint
    wheels_right:
      hardware_interface:
        joints:
          - right_front_wheel_joint
          - right_back_wheel_joint
    controller:
      wheels_left_state:
        type: joint_state_controller/JointStateController
        publish_rate: 5
        joints:
          - left_front_wheel_joint
          - left_back_wheel_joint
      wheels_right_state:
        type: joint_state_controller/JointStateController
        publish_rate: 5
        joints:
          - right_front_wheel_joint
          - right_back_wheel_joint
      wheels:
        type        : "diff_drive_controller/DiffDriveController"
        left_wheel  : 
          - 'left_front_wheel_joint'
          - 'left_back_wheel_joint'
        right_wheel : 
          - 'right_front_wheel_joint'
          - 'right_back_wheel_joint'
        publish_rate: 30               # default: 50
        pose_covariance_diagonal : [0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
        twist_covariance_diagonal: [0.2, 0.05, 0.05, 0.0, 0.0, 1.0]
        wheel_separation : 0.577
        wheel_radius : 0.110
        cmd_vel_timeout: 1.0
        linear:
          x:
            has_velocity_limits: true
            max_velocity: 1.0
            has_acceleration_limits: true
            max_acceleration: 1.25
        angular:
          z:
            has_velocity_limits: true
            max_velocity: 1.0
            has_acceleration_limits: true
            max_acceleration: 3.14
        enable_odom_tf: false

manipulator:
    # Publish all joint states -----------------------------------
  joint_state_controller:
    type: joint_state_controller/JointStateController
    publish_rate: 20 # default: 50  

  # Position Controllers ---------------------------------------
  joint1_position_controller:
    type: effort_controllers/JointPositionController
    joint: base_cyl
    pid: {p: 20, i: 1.0, d: 0.5, antiwindup: True, i_clamp: 100.0}
  joint2_position_controller:
    type: effort_controllers/JointPositionController
    joint: cyl_arm1
    pid: {p: 29.0, i: 7.5, d: 1.5, antiwindup: True, i_clamp: 100.0}
  joint3_position_controller:
    type: effort_controllers/JointPositionController
    joint: arm1_arm2
    pid: {p: 21.0, i: 6.0, d: 0.9, antiwindup: True, i_clamp: 100.0}
  joint4_position_controller:
    type: effort_controllers/JointPositionController
    joint: arm2_arm3
    pid: {p: 2.0, i: 1.5, d: 0.05, antiwindup: True, i_clamp: 100.0}
  joint5_position_controller:
    type: effort_controllers/JointPositionController
    joint: arm3_tool
    pid: {p: 0.01, i: 0.001, d: 0.01, antiwindup: True, i_clamp: 100.0}

