<launch>
    <node pkg="marker_based_localization" type="HybridLocalization" name="marker_based_localization" output="screen">
        <remap from="~image" to="/front_camera/left/image_rect_gray"/>
        <remap from="~odom" to="/odometry/filtered_map"/>
        <param name="base_link" value="base_link"/>
        <rosparam param="covariance_diagonal" subst_value="True">[0.5, 0.5, 0.5, 0, 0, 0,]</rosparam>
    </node>
</launch>