<robot xmlns:xacro="http://wiki.ros.org/xacro">
<xacro:macro name="drive_train" params="prefix material *gazebo_material package:=^ collisions:=^ inertial:=^">
  <link name="${prefix}_drive_train">
    <visual>
      <material name="${material}"/>
      <geometry>
        <mesh filename="package://${package}/meshes/sirius_2/drivetrain.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="${inertial['drive_train_mass']}"/>
      <inertia ixx="${inertial['drive_train_inertia']['ixx']}" ixy="${inertial['drive_train_inertia']['ixy']}" ixz="${inertial['drive_train_inertia']['ixz']}" iyy="${inertial['drive_train_inertia']['iyy']}" iyz="${inertial['drive_train_inertia']['iyz']}" izz="${inertial['drive_train_inertia']['izz']}"/>
    </inertial>
    <collision>    
      <geometry>
        <cylinder length="${collisions['drive_train_width']}" radius="${collisions['drive_train_radius']}"/>
      </geometry>
      <origin xyz="0 ${collisions['drive_train_width']/2} 0" rpy="${pi/2} 0 0" />
    </collision>
  </link>
  <gazebo reference="${prefix}_drive_train">
      <visual>  
        <xacro:insert_block name="gazebo_material" />
      </visual> 
  </gazebo>
</xacro:macro>
</robot>