<launch>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="port" value="8081"/>
        <arg name="certfile" value="/home/rover/certificates/sirius.crt"/>
        <arg name="keyfile" value="/home/rover/certificates/sirius.key" />
        <arg name="ssl" value="true" />
    </include>

    <node 
        pkg="topic_tools" 
        type="mux" 
        name="manip_command_mux" 
        args="/manip_interface/command /joy_5dof_manipulator/manip_command /manip_controller/manip_command mux:=manip_command_mux"
    />

    <include file="$(find joystick_control)/launch/remote_joystick_steering.launch"/>
</launch>
