<launch>
    <arg name="gazebo"            default="false"/>
    <!-- ORB-SLAM3 -->
    <node name="orb_slam3_stereo_inertial" pkg="morb_slam_ros" type="morb_slam_ros_stereo_inertial" output="screen" respawn="true" ns="morb_slam_ros">
        <remap if="$(arg gazebo)" from="/camera/left/image_raw"    to="/front_camera/left/image_rect_grey"/>
        <remap if="$(arg gazebo)" from="/camera/right/image_raw"   to="/front_camera/right/image_rect_grey"/>
        <remap unless="$(arg gazebo)" from="/camera/left/image_raw"    to="/front_camera/left_raw/image_raw_grey"/>
        <remap unless="$(arg gazebo)" from="/camera/right/image_raw"   to="/front_camera/right_raw/image_raw_grey"/>
        <remap from="/imu"                      to="/front_camera/imu/data"/>

        <!-- Parameters for original ORB-SLAM3 -->
        <param name="voc_file"      type="string"   value="$(find morb_slam_ros)/Vocabulary/ORBvoc.txt" />
        <param if="$(arg gazebo)"     name="settings_file" type="string"   value="$(find sirius_description)/config/oak_d_w/morb_slam_gazebo.yaml" />
        <param unless="$(arg gazebo)" name="settings_file" type="string"   value="$(find sirius_description)/config/oak_d_w/morb_slam_ros.yaml" />

        <!-- Parameters for ROS -->
        <param name="world_frame_id"  type="string"   value="map" />
        <param name="cam_frame_id" type="string"   value="front_camera_center" />
    </node>

    <!-- Visualization - RViz-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find morb_slam_ros)/config/morb_slam_ros.rviz" output="screen" />

    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_server_orb_slam3" output="screen" ns="morb_slam_ros">
        <param name="target_frame_name" value="map" />
        <param name="source_frame_name" value="front_camera_center" />
        <param name="trajectory_update_rate" value="5.0" />
        <param name="trajectory_publish_rate" value="5.0" />
    </node>
</launch>
