<launch>
    <rosparam file="$(find sirius_description)/config/controllers.yaml" command="load"/>
    <rosparam file="$(find sirius_description)/config/hardware.yaml" command="load"/>   

   <remap from="/sirius/controller/wheels/cmd_vel" to="/cmd_vel" />

    <node name="sirius_control_loop" pkg="sirius_control_loop" type="sirius_control_loop" output="screen"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/"
        args="
             /sirius/controller/wheels_left_state
             /sirius/controller/wheels_right_state
             /sirius/controller/wheels
    "/>
   
    <node name="roboclaw_driver" pkg="roboclaw_driver" type="all.py" output="screen">
        <remap from="/roboclaw_driver/128/motor1/joint_state" to="/wheels_left/roboclaw/motor1/joint_state"/>
        <remap from="/roboclaw_driver/128/motor1/set_joint_state" to="/wheels_left/roboclaw/motor1/set_joint_state"/>
        <remap from="/roboclaw_driver/128/motor2/joint_state" to="/wheels_left/roboclaw/motor2/joint_state"/>
        <remap from="/roboclaw_driver/128/motor2/set_joint_state" to="/wheels_left/roboclaw/motor2/set_joint_state"/>
        <remap from="/roboclaw_driver/128/loop_rate" to="/sirius/controller/wheels/publish_rate"/>
        <remap from="/roboclaw_driver/129/motor1/joint_state" to="/wheels_right/roboclaw/motor1/joint_state"/>
        <remap from="/roboclaw_driver/129/motor1/set_joint_state" to="/wheels_right/roboclaw/motor1/set_joint_state"/>
        <remap from="/roboclaw_driver/129/motor2/joint_state" to="/wheels_right/roboclaw/motor2/joint_state"/>
        <remap from="/roboclaw_driver/129/motor2/set_joint_state" to="/wheels_right/roboclaw/motor2/set_joint_state"/>
        <remap from="/roboclaw_driver/129/loop_rate" to="/sirius/controller/wheels/publish_rate"/>
    </node>

    <node name="manip_control" pkg="ral_sirius_1" type="manip_control.py" output="screen"/>
</launch>
