<launch>
	<arg name="cam_width" default="640"/>
	<arg name="cam_height" default="480"/>
	<arg name="pixel_format" default="yuyv"/>
	
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
		<param name="video_device" value="/dev/video0" />
		<param name="image_width" value="$(arg cam_width)" />
		<param name="image_height" value="$(arg cam_height)" />
		<param name="pixel_format" value="$(arg pixel_format)" /> <!-- mjpeg, yuyv -->
	</node>
	
    <node type="web_video_server" name="web_video_server" pkg="web_video_server" required="true">
        <param name="port" value="8062"/>
        <param name="quality" value="80"/>
        <param name="default_transport" value="compressed"/>
    </node>
</launch>
