<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="marker">
  <xacro:property name="package" value="marker_description" />
  <xacro:property name="params" value="${xacro.load_yaml('marker.yaml')}" /> 
  <xacro:include filename="materials.urdf.xacro" />
    <link name="marker">
      <visual>
         <geometry>
           <box size="1 1 1" />
         </geometry>
      </visual>
      <collision>    
         <geometry>
           <box size="1 1 1" />
         </geometry>
      </collision>
        <inertial>
          <origin xyz="1 0 0" />
          <mass value="1.0" />
          <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
        </inertial>
    </link>
    <gazebo reference="marker">
    <material>YourMaterialName</material>
    </gazebo>
</robot>
