<launch>
    <arg name="rviz" default="true" />
    <arg name="message_rate" default="1.0" />
    <arg name="camera_frame" default="camera_frame" />
    <arg name="manip_frame" default="base_link" />
    <arg name="info_topic" default="/camera_info" />
    <arg name="stream_topic" default="/camera" />
    <arg name="marker_size_override" default="12: 0.032, 27: 0.032" /> <!-- e.g. "1-10: 0.1, 12: 0.2" -->

    <node name="aruco_detect" pkg="aruco_detect" type="aruco_detect">
        <param name="dictionary" value="0" /> <!-- DICT_4X4_50 -->
        <param name="publish_images" value="true" />
        <param name="fiducial_len" value="0.05" /> <!-- real size in test steam: 0.023 -->
        <param name="fiducial_len_override" value="$(arg marker_size_override)" />
    </node>

    <node name="marker_sender" pkg="panel_visualization" type="marker_sender.py"
        output="screen">
        <param name="message_rate" value="$(arg message_rate)" />
        <param name="marker_length" value="0.05" />
        <param name="marker_lengths" value="$(arg marker_size_override)" />
        <rosparam file="$(find panel_visualization)/config/visual_objects.yaml" command="load" />
    </node>

    <node name="static_transform_publisher_0" pkg="tf2_ros" type="static_transform_publisher"
        args="0 0 0 -0.5 -0.5 0.5 0.5 $(arg manip_frame) $(arg camera_frame)" />

    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" output="screen"
        args="-d $(find panel_visualization)/rviz/test_config.rviz" />

    <!-- TEST fake stream from images -->
    <node name="fake_camera" pkg="panel_visualization" type="fake_camera.py" output="screen">
        <param name="message_rate" value="$(arg message_rate)" />
        <param name="frame_id" value="$(arg camera_frame)" />
        <param name="info_topic" value="$(arg info_topic)" />
        <param name="stream_topic" value="$(arg stream_topic)" />
    </node>

</launch>